@{
    ViewData["Title"] = "WhereItApp: Item";
}
@model QDApps.Models.WhereItAppModels.ViewModels.ViewItem

<form asp-action="CreateItem">
    <input asp-for="ItemName" hidden id="itemName" />
    <input asp-for="StashId" hidden id="stashId" />
    <table class="table table-bordered table-responsive">
        <tr>
            <th>
                <label asp-for="EditedItemName" class="control-label">Item:</label> 
            </th>
            <th>
                <label asp-for="DestinationStashId" class="control-label">Stash:</label>
            </th>
        </tr>
        <tr>
            <td>
                <input asp-for="EditedItemName" id="editedItemName" class="form-control"/>
            </td>
            <td>
                <select asp-for="DestinationStashId" id="destinationStashId" class="form-control" asp-items="@(new SelectList(Model.AvailableStashes, "StashId","StashName"))"></select>
            </td>
        </tr>
        <tr>

            <td></td>
            <td style="display: flex; flex-flow: row; justify-content: space-between;">
                <input type="submit" value="Save Changes" id="submitButton" class="btn btn-primary" />
                <a href="/WhereItApp/Index" class="btn btn-primary">Return</a>
            </td>
        </tr>
    </table>

</form>
<script language="Javascript" src="~/js/WIA.js"></script>
<script language="Javascript">
    window.onload = toggleSubmitButton_Item();</script>
<script language="Javascript">
    window.addEventListener("click", function (event) {
        toggleSubmitButton_Item();
    });
</script>
