@{
    ViewData["Title"] = "WhereItApp: Stash";
}
@model QDApps.Models.WhereItAppModels.ViewModels.ViewStash
@{int index = 0;}

<form asp-action="EditStash">
    <input asp-for="StashId" hidden id="currentStashId"/>
    <input asp-for="StashName" hidden id="currentStashName" />

    <input asp-for="EditedStashName" id="editedStashName" class="form-control"/>
    
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <td>
            </td>
            <td>
                <select asp-for="DestinationStashId" id="destinationStashId" class="form-control" asp-items="@(new SelectList(Model.AvailableStashes, "StashId","StashName"))" ></select>
            </td>
            <td>
                <div style="display: flex; flex-flow: row; justify-content: space-between;">
                    <input type="submit" value="Save Changes" id="submitButton" class="btn btn-primary" />
                    <a href="/WhereItApp/Index" class="btn btn-primary">Return</a>
                </div>
            </td>
        </tr>
        <tr>
            <th name="selected_col" id="Selected"><input type="checkbox" id="SelectAll" onclick="toggle_select_all_text_headers('SelectAll')" />Select all</th>
            <th>Item</th>
            <th>Tags</th>

        </tr>
        @foreach(var item in Model.ViewItems)
        {
            <tr>
                <td><input asp-for="ViewItems[index].ItemId" hidden>
                    <input type="checkbox" asp-for="ViewItems[index].Selected" class="form-check-input"/>
                    </td>
                <td>@item.ItemName</td>
                <td>
                    @foreach(var tag in item.Tags)
                    {
                        <div class="badge bg-secondary">@tag.TagName</div>                        
                    }
                </td>
            </tr>
            index++;
        }
    </table>


</form>

<script language="Javascript" src="~/js/WIA.js"></script>
<script language="Javascript">
    window.onload = toggleSubmitButton_Stash();</script>
<script language="Javascript">
    window.addEventListener("click", function (event) {
        toggleSubmitButton_Stash();
    });
</script>