@{
    ViewData["Title"] = "Welcome!";
}
@model string


<div class="panel-group">
    <div class="panel panel-primary">
        Welcome back, @Model
        <div class="panel-body">
            <a href="/WhereItApp/Index">WhereItApp</a>
        </div>
        <div class="panel-body">
            <a href="/Home/EditUser">Edit User Preferences</a>
        </div>
    </div>
</div>