html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-pink {
    --bs-bg-opacity: 1;
    background-color: deeppink !important;
}

.bg-violet {
    --bs-bg-opacity: 1;
    background-color: blueviolet !important;
}

.bg-brown {
    --bs-bg-opacity: 1;
    background-color: brown !important;
}

.bg-chartreuse {
    --bs-bg-opacity: 1;
    background-color: chartreuse !important;
}

.bg-coral {
    --bs-bg-opacity: 1;
    background-color: coral !important;
}

.bg-teal {
    --bs-bg-opacity: 1;
    background-color: teal !important;
}

.bg-navy {
    --bs-bg-opacity: 1;
    background-color: navy !important;
}

.bg-orange {
    --bs-bg-opacity: 1;
    background-color: darkorange !important;
}